body {
    background-color: white;
}

p {
    font-family: verdana;
    font-size: 20px;
	color: black;
}

header
{
	width: 100%; 
	height: 64px;	
	color: black; /* color de la font. Mas que nada. */
	background-color: white; /* color del background */
	border-bottom: 2px solid rgb(226,226,226);
	border-top: 2px solid rgb(226,226,226);
}

.container
{
	background-color: white;
}

.grilla__header__container
{
	width: 100%;	
	max-width: 840px;	
	margin: 0 auto; /* centras la grilla */ /* 0 -> es arriba y abajo. auto es izq derecha. entonces las centra automaticamente */
}

.cubo--textos__elem
{
	float:left;
	margin-right: 15px;
	margin-top: 5px;
}

.texto--grande__elem
{
	font-size: 25px;
}

.texto--chico__elem
{
	font-size: 12px;
}

.grilla--2__container
{
	width: 960px;
	margin: 40px auto;
	/*margin-left: 31px;
	margin-right: 32px;*/
}

.section--1__container
{	
	width:960px;
	height:50px;
	position:relative; /* Para poder droppear .texto--building__elem al suelo del container y subirlo 7px con margin */
}

.icono__elem
{
	float:left;
}

.texto--building__elem
{
	/* float:right; */ /* float: right; no funciona si pones position: absolute. Lo manejas con right: 0.*/
	position:absolute; /* Para poder droppear .texto--building__elem al suelo del container y subirlo 7px con margin */
	bottom:0;
	right: 0;
	margin-bottom: 7px;
}

.section--2__container
{
	width:960px;
	height:399px;
	margin-top:24px;
}

.cuadrado--jquery__elem
{
	width:571px;
	height:400px;
	background-color: #cccccc;
	float:left;
}

.texto--jquery__elem
{
	text-align: center;
	vertical-align: middle;
	line-height: 400px; /* la misma altura que el contenedor <div> */
	float:left;	
	margin-left:125px;
}

.cuadrado--featured__elem
{
	width:131px;
	height:35px;
	background-color:black;
	/*float:left; */
	/*display:inline-block;*/
	margin-top:20px;
	position:absolute;
}

.texto--featured__elem
{
	color:white;
	line-height: 35px;
	text-align: center;
	vertical-align: middle; 
	font-size: 15px;
}

.cuadrado--introducing__elem
{
	width:377px;
	height:246px;
	border-top:4px solid;
	border-bottom:4px solid;
	border-color:#cccccc;
	float: right;
}

.texto--introducing__elem
{
	font-size:25px;
	margin-bottom:15px;

}

.texto--introducing--2__elem
{
	font-size:15px;
	margin-bottom:15px;
}

.texto--introducing--3__elem
{
	font-size:15px;
	margin-bottom:15px;
}

.texto--introducing--4__elem
{
	font-size: 10px;
	margin-bottom:39px;
}

.cuadrado--clients__elem
{
	width: 374px;
	height:138px;
	float: right;
}

.texto--clients__elem
{
	line-height: 38px;
	text-align: middle;
}

.cuadrado--clients--1__elem
{
	width: 114px;
	height: 114px;
	border: 1.5px solid black;
	float:right;
	margin-left: 16px;
	/*position:relative;*/
}

.cuadrado--clients--2__elem
{
	width: 114px;
	height: 114px;
	border: 1.5px solid black;
	float:right;
	margin-left: 16px;
	/*position:relative;*/
}

.cuadrado--clients--3__elem
{
	width: 114px;
	height: 114px;
	border: 1.5px solid black;
	float:right;
	/*margin-left: 10px;*/
	/*position:relative;*/
}

.section--3__container
{
	width:100%;
	height:186px;
	margin-top:24px;
}

.cuadrado--whatwe__elem
{
	width: 308px;
	height:186px;
	border-top: 2px solid #cccccc;
	float:left;
}

.texto--whatwe__elem
{
	line-height: 42px;
	text-align: middle;
}

.texto--whatwe--2__elem
{
	margin-bottom: 12px;
}

.lista--whawe__elem
{

}

.cuadrado--selected__elem
{
	width: 375px;
	height: 186px;
	border: 5px solid #cccccc;
	float:left;
	margin-left:24px;
}

.texto--selected__elem
{
	line-height: 186px;
	text-align: center;
	vertical-align: middle;
}

.cuadrado--putus__elem
{
	/*width: 245px;*/
	width: 229px;
	height: 158px;
	background-color:#cccccc;
	float:right;
	margin-left:24px;
}

.texto--putus--1__elem
{
	text-align: center;
	margin-top: 33px;
	margin-bottom: 21px;
}

.texto--putus--2__elem
{
	text-align: center;
	font-size: 16px;
}

footer
{
	width:960px;
	height:818px;
	margin: 40px auto;
	/*margin-top:24px;*/
}

.caja--1__footer
{
	width: 309px;
	height: 109px;
	border-top: 5px solid #cccccc;
	float:left;	
	margin-right: 16px;
}

.texto--advertising__elem
{
	margin-top: 17px;
}

.caja--2__footer
{
	width: 309px;
	height: 167px;
	border-top: 5px solid #cccccc;
	float:left;	
	margin-right: 16px;
}

.texto--FAQ__elem
{
	margin-top:17px;
}

.caja--3__footer
{
	width: 309px;
	height: 99px;
	border-top: 5px solid #cccccc;
	float:left;	
}

.lista--footer__elem
{
	margin-top: 17px;
	margin-right: 100px;
	margin-bottom: 5px;	
	float:left;
}

.lista--footer__elem li
{
	margin-bottom: 3px;
}

.lista--footer--2__elem
{
	margin-top: 17px;
	margin-bottom: 5px;
	float:left;
}

.lista--footer--2__elem li
{
	margin-bottom: 3px;
}

.caja--4__footer
{
	width: 375px;
	height: 186px;
	float:left;
	/*margin-left:0*/
}

