header
{
	background:#2c3e50;
	color:#fff;
	height:50px;
}

.main
{
	background:#f2f2f2;
}

.color1
{
	background: #34495e;
	color:#fff;
}

aside
{
	background: #c0392b;
	color:#fff;
}

footer
{
	background: #16a085;
	color:#fff;
}

.logo__header
{
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    /*background-color: #367fa9;*/
}

.logo-2__header
{
	font-size:20px;
	line-height:50px;
	text-align:center;
	/*background-color: #367fa9;*/
}

.caja--icons__header
{
	float: right;
}