.container {
	width:80%;
	max-width:1100px;
	margin:0 auto;
	/*overflow:hidden*/; /* The overflow is clipped, and the rest of the content will be invisible */
}

header
{
	background-color:#9b9ca0; 
	color:#feffff;
	height:118px;	
}

.main {
	width:100%;
	padding:20px;
	float: left;
	box-sizing:border-box;
}

.caja--1__container
{
	height: 118px;
	/*width: 20%;*/
	border-bottom:1px solid #feffff;
}

.logo--dipped__container
{
	float:left;
}

header a
{
	color:#feffff;
	font-size: 15px;	
	font-weight: bold;
/*	float:left;
	margin-right: 32px;*/
}

a
{
	color:#feffff;
}

header ul
{
	line-height: 34px;	
	vertical-align:middle;
	margin-top:40px;
}

header li
{
/*	width:calc(100%/5);*/
	margin-right: 32px;
	float:left;
}

.caja__container
{
	/*width: 483px;
	height: 34px;*/
	width:48%;
	/*width: 70%;*/
	height: auto;
	float:right;
	/*margin 0 auto;*/
}

.cilindro__elem
{
	width: 77px;
	height: 34px;
	background:black;
	border-radius: 25px;
	display:inline-block;
}

.link--home__elem
{
	text-align: center;
	vertical-align: middle;
	line-height: 34px;
	margin-left: 18px;
}

.links__elem
{
	width:300px;
	height:14px;
	display:inline-block;
}

.section--1__container
{
	background-color:#9b9ca0; 
	color:#feffff;
	height:520px;
	position:relative; /* Esto indica que todos los hijos de este contenedor van a tener su posicion siempre relativa a este. Se pone por la foto que está en position:absolute. Para que se mantenga dentro de sector 1 que es su padre. */	
} 					   /* Siempre que el contenedor va a contener a un objeto con 'position:absolute' se le debe poner 'position:relative' al contenedor */

.section--2__container
{
	background-color:#d7d7d7; 
	color: black;
	height:auto;
}

.cuadrado__section--2
{
	width: 731px;
	height: 100px;
	margin: 0 auto;
}

.header--weBuild__elem
{
	/*width: 731px;*/
	width: 73%;
	/*height: 45px;*/
	height: auto;
	margin:0 auto;
	text-align: center;
	padding-top:45px;
}

.header--classAptent__elem
{
	/*width: 570px;*/
	width: 57%;
	/*height: 18px*/
	height: auto;
	margin:0 auto;
	text-align: center;
	margin-top:25px;
}

h1
{
	font-size: 40px;
}

h3
{
	font-size: 18px;
}

.caja--2__section--1
{
	/*width: 300px;*/
	width:30%;
	/*height: 44px;*/
	height:auto;
	margin: 0 auto;
	margin-top: 40px;	
}

#wrapper
{
	height: auto;
}

.cuadrado--negro--getStarted__elem
{	
	width:130px;
	height:44px;
	background-color:black;
	float:left;
}

.link--getStarted__elem
{
	line-height:44px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
}

.caja--learnMore__elem
{	
	width:130px;
	height:44px;
	float:left;
}

.link--learnMore__elem
{	
	line-height:44px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
}

.imagen--absoluta__elem /* ponemos la imagen entre dos sectores con position:absolute*/
{
	/*width:947px;
	height:300px;*/
	width: 94%;
	height: auto;
	position:absolute;
	left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  /*margin-top: 50px;*/ /* "Nunca margin-top. Bottom: -50px, porque esta en relacion al section 1. Entonces lo desplazas negativamente 50 pixeles para abajo respecto del sector 1." */
  max-width: 1055px; /* "Para que no se defome al agrandar." -Falco */
  bottom:-70px;
}

.caja--todos__elem
{
	/*width:942px;
	height: 100px; *//* Intente ponerle 'auto' pero me queda muy grande el height y me corre para abajo los parrafos. */
	width: 94%;
	height: 100px;
	margin: 0 auto;
	padding: 100px; /* Aca pongo padding porque intenté poner margin y me empujaba el sector entero 100px para abajo y me quedaba el body al descubierto. Tratar de entender por qué. */
}

.caja--circulos__elem
{
	/*width:824px;
	height:100px;*/
	width: 82%;
	height: auto;
	margin: 0 auto;
}

.caja--circulo--2__elem
{

	width: calc(100% / 4); /* calc() calcula el 100% del tamaño del ancho del contenedor padre en todo momento y aca lo dividimos por 4 */
  height: auto;
  float: left;
  /* margin-left: 40px; */
  padding: 0 25px;
  text-align: center;
}

.circulo__elem
{
	width:100px;
	height:100px;
	border: 3px solid;
  border-radius: 60px;	
  background: #eeeeee;
  border: 3px solid #9b9ca0;
  margin: auto;
 /*   float:left;
    margin-right:136px;*/ /* Como agregué una caja mas que envuelve a los circulos. No necesito esto, porque del centrado se encarga 'caja--circulo--2__elem' */

}

.circulo--final__elem
{
	width:100px;
	height:100px;
	border: 3px solid;
  border-radius: 60px;	
  background: #eeeeee;
  border: 3px solid #9b9ca0;
  margin:auto;
}

.caja--imagen__elem
{
	width: 32px;
	height: 32px;
	margin: 0 auto;
	margin-top: 30px;
}

.caja--parrafos__elem
{
	/*width: 850px;*/
	width: 85%;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;	
}

.caja--parrafo__elem
{
	/*width:206px;
	height:auto;
	float:left;
	margin-left: 40px;*/ /* asi lo intente hacer yo. Falco me corrigio para que sea portable y aplicando calc() */

/*	width: calc(100% / 4);*/ /* calc() calcula el 100% del tamaño del ancho del contenedor padre en todo momento y aca lo dividimos por 4 */
    height: auto;
    float: left;
   /*  margin-left: 40px; 
    padding: 0 25px;*/
    text-align: center;
}

.clearfix:after /* Cuando tenemos un contenedor con hijos flotando, no sabe calcular su alutra si pones. Entonces con esta manera le decimos que tome la altura del hijo mas grande (De mayor altura)*/
{
	display:table;
	content:"";
	clear:both;
}

.titulo__elem
{
	font-weight: bolder;
	text-align:center;
	margin-bottom:10px;
}

.parrafo__elem
{
	font-weight: bold;
	text-align: center;
	font-size: 13px;
}

.cuadradro--readMore__elem
{
	width:93px;
	height:34px;
	background:#9b9ca0;
	margin:40px auto;
	padding-bottom: 20px;
	border-radius: 20px;
}

.texto--readMore__elem
{
	line-height: 34px;
	color:white;
	text-align: center;
	vertical-align: :middle;
	font-weight: bold;
}

.section--3__container
{
	/*height:459px;*/
	height:auto;
	background: white;
}

.caja--1__section3
{
	/*width:938px;*/
	width:93%;
	height:auto;
	margin:60px auto;	
}

.caja--1-2__section3
{
	/*width:940px;*/
	width: 94%;
	height:auto;
}

.caja--2__section3
{
	/*width:210px;*/
	width: 21%;
	height:auto;
	float:left;
}

.texto--titulo__section3
{
	font-size:15px;
	margin-bottom: 20px;
}

.texto--lorem__section3
{
	font-size: 12px;
	margin-bottom:40px;
}

.texto--bottom__section3
{

}

.caja--2__section3 p
{
	font-weight: bold;
}

.caja--3__section3
{
	width:643px;
	/*width: 64%;*/
	height:auto;	
 	margin:0 auto;
 	float:right;
}	

.caja--4__section3
{
	/*width: 200px;*/
	width:calc(100% / 3);
	height: auto;
	float:left;
	text-align: center;
}

.cuadrado--webDesigner__elem
{
	width:200px;
	height:160px;	
	background: #9b9ca0;
}

.caja--5__section3
{
	/*width: 111px;*/
	width: 11%;
	height:auto;	
}

.texto--1st__elem
{
	margin-top:28px;
}

.texto--webDesign__elem
{
	margin-top:12px;
	color:#c9c9c9;
}

.caja--4__section3 p
{
	font-weight: bold;
}

.caja4-1__section3
{

}

.caja--6__section3
{
	/*width:938px;*/		
	width: 93%;
	height: auto;	
	margin-top:123px;
}

.caja--img__section3
{
	width: calc(100%/4);
	height: auto;
	text-align: center;
	float:left;
}

.section--4__container
{
	/*height:389px;*/ 
	height: auto;
	border-top: 3px solid #cacaca;
	border-bottom: 3px solid #cacaca;
}

.caja--1__section4
{
	/*width:945px;*/
	width: 94%;
	height:auto;
	margin:0 auto;
	margin-top:47px;
}

.caja--2__section4
{
	width:calc(100%/3);
	height:auto;
	float:left;
	/*text-align: center;*/
}

.pTitulo__elem {
	font-weight: bold;
	color: black;
}
.caja--2-2__section4
{
	width:220px;
	height:auto;
	margin: 0 auto;
	margin-bottom: 17px;
}

.caja--texto2__section4 p
{
	line-height: 20px;
	margin-bottom: 14px;
}

.section--4__container p
{
	color:#9c9a9b;
	font-weight: bold;	
	font-size: 10px;
}

.caja--titulo__section4
{
	width: 100%;
	height: auto;
	margin-bottom: 31px;
	font-size:25px;
	float:left;
}

.pTitulo__elem
{
	display:block !important;
	float:left;
	font-weight: bold;
	font-size: 15px !important;
	color:black !important; 
}

.caja--de--caja--negra__section4
{
	width:60px;
	height: 171px;
	float:left;
}

.caja--negra__section4
{
	width: 60px;
	height: 60px;
	background: black;
	float:left;
}
.caja--texto__section4
{
	width: 155px;
	height: auto;
	float:left;
}

.texto__section4
{
	width: 155px;
	height: auto;
	float:left;
}

.caja--texto2__section4
{
	width: 232px;
	height: auto;
	float:left;
	border-bottom: solid #9c9a9b 1px;
	margin-bottom: 17px;
}

.caja--texto3__section4
{
	width: 232px;
	height: auto;
	float:left;
	border-bottom: solid #9c9a9b 1px;
	margin-bottom: 17px;
}

.pTexto__texto3__section4
{
	margin-bottom: 35px;
	margin-left:75px;
	margin-top: 3px;
	margin-right: 3px;
}

.section--4__container a
{
	color: red;
}

.pTexto__texto3-2__section4
{
	margin-left:75px;
	margin-top: 3px;
	margin-right: 3px;
}

footer
{
	height: 460px;
}
