.imagen--absoluta__elem img {
	width:100%;
	height:auto;
}

 /* @media  (max-width: 1082px) { 

} */ /* Se pone vertical el get started learn more */

@media  (max-width: 1004px) { /* rompe dibujos graphicriver themeforest codecanyon activeeden */
    .caja--img__section3 {
      width: calc(100%/2);
    } 
}

@media  (max-width: 528px) { /* de nuevo rompe dibujos graphicriver themeforest codecanyon activeeden */
    .caja--img__section3 {
      width: calc(100%/1);
    } 
}

@media  (max-width: 996px) { /* rompe el plan design */
  .caja--circulo--2__elem {
      width: 100%;
      height: auto;
      float: left;
      /* margin-left: 40px; */
      padding: 0 25px;
      text-align: center;
  }
}

@media  (max-width: 984px) { 
  .caja__container {
      width: 100%;     
  }
  #wrapper {
      float:right;
      position:relative;
      left:-50%;
      text-align:left;  
  }
  #wrapper ul {
    list-style:none;
    position:relative;
    left:50%;
  }
}

@media  (max-width: 930px) { 
  .caja--2__section3 {
    width: 100%;
    margin-bottom: 20px;
  }
  .caja--3__section3 {
    float:none;
  }
}

@media (max-width: 770px) { 
  .caja--2__section4 {
    width:100%;
  }
}

@media (max-width: 724px) { 
 /* .caja--3__section3 {
    display:none;
  }*/
  .caja--4__section3 {
      width:100%;
  }
  .cuadrado--webDesigner__elem {
    margin: auto;
  }
}

@media  (max-width: 866px) { /* baja el learn more */
.cuadrado--negro--getStarted__elem {
      float:none;
      margin: auto;
  }
  .caja--learnMore__elem {
    float:none;
    margin:auto;
  }
}

@media  (max-width: 690px) { /* aca rompe el header */
	.caja__container{
		font-size: 15px;
		width: 100%;
  }
  .caja__container ul
  {
    width:100%;
    text-align:center;
  }
}

@media  (max-width:780px) {

}

/*@media  (max-width: 400px) {

}*/
