* {
	margin:0;
	padding:0;
}

body {
	background:#323A46;
	font-family:Arial;
}

.contenedor {
	width:80%;
	max-width:1000px;
	margin:0 auto;
	overflow:hidden;
}

header {
	background: #EB4A33;
	margin: 20px 0;
}

header h1 {
	color:#fff;
	padding:20px;
	text-align:center;
}

.main {
	width:70%;
	background:#fff;
	padding:20px;
	float: left;
	box-sizing:border-box;
}

.main img {
	width:100%;
	height:auto;
}

aside {
	width:30%;
	padding:20px;
	box-sizing:border-box;
	background:#ccc;
	float:left;
}

footer {
	clear:both;
	float:left;
	margin-top:20px;
	box-sizing:border-box;
	width:100%;
	padding:20px;
	color:#fff;
	background:#000;
} 

@media screen and (max-width: 800px){
	/*body {
		background:#ff8000;
	}*/
	.main {        /* Estas dos opciones son para que cuando el ancho de la pantalla sea de 800 o MENOS, */ 
		 width:100%; /* el main cobre el 100% del ancho y el aside tambien. Poniendose este ultimo, debajo en vez de al costado */
	}
	aside {
		width:100%;
	}
}

@media screen and (max-width:400px){
	.contenedor {
		width:100%; /* el contenedor obtiene el ancho total de la pagina. Por lo cual, los demas cuadrados tambien */
	}
	aside {
		display:none; /* Remueve el aside (sidebar) para los tamaños de 400px o MENOS  */
	}
}